@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
.btn-primary {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #f8df1f;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
  border-color: #f8df1f;
  padding: 15px 40px;
}
