@import 'variables';

.nav-item {
  font-family: @primary-font;
  font-size: 18px;
  color: @font-color;
  font-weight: 500;
}

.btn-primary {
  font-family: @primary-font;
  font-size: 18px;
  background-color: @yellow;
  color: @font-color;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding: 15px 40px;
}

.heading-text {
  font-family: @primary-font;
  font-size: 30px;
  color: @font-color;
  font-weight: 500;
}
